<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wallpapers SYSTEM "gnome-wp-list.dtd">
<wallpapers>
{% for wallpaper in wallpapers -%}
  <wallpaper deleted="false">
    <name>{{ wallpaper.name }}</name>
      <filename>/usr/share/backgrounds/{{ wallpaper.dest }}</filename>
    <options>zoom</options>
    <shade_type>solid</shade_type>
    <pcolor>#000000</pcolor>
    <scolor>#000000</scolor>
  </wallpaper>
{% endfor %}
</wallpapers>
